body {
  font-family: 'Quicksand', sans-serif;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  transition: height .5s ease;
}

.textOverlay h2 {
  font-size: 24px;
  color: #fff;
  margin-top: 20%;
  transition: font-size .5s ease;
}

.content {
  padding: 20px;
  margin-top: 50px;
}

.blue {
  background-color: lightblue;
}

.green {
  background-color: lightgreen;
}

.icon {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#FFFFFF;
  stroke-width:3;
  stroke-linecap:round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

.fade-in-text {
  animation: fadeIn 5s;
}

.logo {
  position: absolute;
  margin: 10px 0 0 10px;
  transition: margin .5s ease;
}

.logo > img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  transition: all .5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 375px) {
  .textOverlay {
    height: 98.5%;
  }
}

@media (min-width: 425px) {
  .textOverlay {
    height: 99%;
  }
  .textOverlay h2 {
    font-size: 36px;
  }
}

@media (min-width: 600px) {
  .logo {
    margin: 20px 0 0 20px;
  }

  .logo>img {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 768px) {
  .textOverlay {
    height: 99.25%;
  }
  .textOverlay h2 {
    font-size: 48px;
  }
  .logo {
    margin: 20px 0 0 20px;
  }

  .logo>img {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 1024px) {
  .textOverlay {
    height: 99.5%;
  }
  .textOverlay h2 {
    font-size: 56px;
  }
}

@media (min-width: 1470px) {
  .textOverlay {
    height: 99.7%;
  }
}